.link {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 3;
  padding: 10px;
}

.signed-in-link {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 3;
  padding: 10px;
}

.logOut {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 3;
  padding: 10px;
}

.logOut:hover {
  color: red;
}

@media only screen and (max-width: 500px) {
  .link {
    font-size: 12px;
    line-height: 3.5;
    padding-bottom: 0;
  }
  .signed-in-link {
    font-size: 10px;
    line-height: 4;
    padding-right: 0;
    padding-bottom: 0;
  }
  .logOut {
    font-size: 10px;
    line-height: 4;
  }
  .profile {
    font-size: 10px;
    line-height: 3;
  }
  .btn-floating {
    width: 30px;
    height: 30px;
  }
  nav ul a.btn {
    margin: 0;
  }
}