.collapsible {
  margin: 15vh auto;
  width: 70vw;
}

@media only screen and (max-width: 700px) {
  .collapsible {
    margin-top: 15vh auto;
    width: 90vw;
  }
  .change-email-text {
    width: 80px;
    font-size: 14px;
    line-height: 1.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .collapsible {
    margin-top: 15vh auto;
    width: 90vw;
  }
  .change-email-text {
    width: 55px;
    font-size: 12px;
    line-height: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .change-text {
    font-size: 20px;
  }
}